* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

.main {
    margin: 0 auto;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 50px;
    /*border: 1px solid #FFF;*/
}

[class^="title"] {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0px;
}

[class^="title1"] {
    font-size: 40px;
}

[class^="title2"] {
    font-size: 27px;
}

[class^="title3"] {
    font-size: 20px;
    margin: 0 auto;
}

[class^="title4"] {
    font-size: 18px;
}

[class^="title5"] {
    font-size: 14px;
}

.title3_black {
    color: #000;
    text-align: center;
}

.title3_white {
    color: #FFF;
    text-align: center;
}

@media screen and (max-width: 0550px) {
    .container {
        max-width: 100%;
        padding: 0 18px;
    }
    
    [class^="title1"] {
        font-size: 23px;
    }
    
    [class^="title2"] {
        font-size: 22px;
    }
    
    [class^="title3"] {
        font-size: 22px;
    }
    
    [class^="title4"] {
        font-size: 14px;
    }
}

.vector_subtitle {
    display: flex;
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 30px;
}

.vector_svg_subtitle {
    margin: 0px 9px;
}

[class^="button"] {
    color: #FFFFFF;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #E3B873;
    border-radius: 2px;
    border: 0px;
}

[class^="button"]:hover {
    background-color: hsl(37, 46%, 58%);
}

[class^="input"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    padding: 7px 0px 8px;
    outline:none;
}

.form_black_item {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    margin-bottom: 0px;
}

.input_black {
    border-bottom-color: rgba(255, 255, 255, 0.15);
    background-color: #000;
    margin-bottom: 10px;
    color: #FFF;
}

.input_black::-webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
}

.input_black:-ms-input-placeholder { 
    color: #fff;
    font-size: 14px;
}

.input_black::-moz-placeholder { 
    color: #fff;
    font-size: 14px;
}

.input_black:-moz-placeholder { 
    color: #fff;
    font-size: 14px;
}

/*скрытие оригинального чекбокса*/
[class^="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/*выравнивание лейбла*/
[class^="label"] {
    display: inline-flex;
    user-select: none;
    font-size: 14px;
}

/*Создание псевдо чекбокса с помощью before*/
[class^="label"]::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 1px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.label_black {
    color: #FFF;
}

/*цвет границы, цвет фона и фоновую картинку (флажок) для псевдо чекбокса*/
[class^="checkbox"]:checked+[class^="label"]::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}










.header {
    background-color: black;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.container_header {
    display: flex;
    justify-content: space-between;
    height: 83px;
    margin: 0 auto;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
}

.logo {
    color: #E3B873;
    text-decoration: none;
    order: 1;
}

.logo:hover {
    color: #FFF;
}

.navigation {
    order: 2;
}

.navigation_list {
    display: flex;
    margin: 0px;
}

.navigation_items {
    /* list-style-type: none; */
    margin-right: 47px;
}

.link_nav {
    color: #FFFFFF;
    text-decoration: none; 
}

.link_nav:hover {
    color: #E3B873;
    text-decoration: none; 
}

.tel {
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    margin-right: 45px;
    order: 3;
}

.button_header {
    padding: 13px 33px;
    font-size: 11px;
    order: 4;
}

@media screen and (max-width: 1220px) {
    .tel {
        margin-right: 0px;
    }
    
    .button_header {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .navigation {
        display: none;
    }

    .tel {
        color: #fff;
    }
}










.section1 {
    height: auto;
    background-image: url(../images/image1-1440.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section1_blackout {
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 194px;
    padding-bottom: 208px;
}

.container_section1 {
    max-width: 550px;
}

.title1_section1 {
    max-width: 520px;
    min-width: 450px;
    line-height: 1.3;
}

.title_span {
    color: #FFF;
}

.text1 {
    font-size: 22px;
    color: #FFF;
    max-width: 504px;
    line-height: 1.8;
}

.button_section1 {
    padding: 20px 41px;
    font-size: 11px;
    margin-right: 20px;
    margin-bottom: 26px;
}

.button_transparent {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    border-color: #FFF;
    font-size: 11px;
    padding: 20px 41px;
}

.button_transparent:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1050px) {
    .text1 {
        max-width: 504px;
    }
    
    .wrapper_buttons_section1 {
        display: flex;
        flex-direction: column;
    }

    .button_section1 {
        width: 340px;
    }
    
    .button_transparent {
        width: 340px;
    }
}

@media screen and (max-width: 550px) {
    .section1_blackout {
        padding-top: 85px;
        padding-bottom: 60px;
    }
    
    .container_section1 {
        min-width: 100%;
    }

    .title1_section1 {
        max-width: 100%;
        min-width: 99%;
    }
    
    .text1 {
        font-size: 14px;
    }

    .button_section1 {
        width: 100%;
    }
    
    .button_transparent {
        width: 100%;
    }
}











.section2 {
    background-color: black;
    padding-bottom: 300px;
}

.container_section2 {
    display: flex;
    justify-content: space-between;
}

.content_left_section2 {
    width: 40%;
    margin-top: 176px;
    margin-right: 50px;
}

.title2_section2 {
    width: 250px;
}

.text2_1 {
    font-size: 14px;
    color: #FFF;
    line-height: 2;
}

.photo_section2_mobile {
    display: none;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-gap: 35px;
}

.text2_2 {
    font-size: 13px;
    color: #FFF;
}

.vector_arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 205px;
}

.wrapper_dots_section2 {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.dotSection2 {
    opacity: 0.5;
    width: 10px;
    margin: 0 9px;
    cursor: pointer;
}

.activeDotSection2 {
    opacity: 1;
}

.arrowLeft, .arrowRight {
    cursor: pointer;
}

.content_right_section2 {
    width: 60%;
    margin-top: 107px;
    margin-bottom: 92px;
}

.wrapper_right_section2 {
    display: flex;
    justify-content: space-between;
    max-width: 623px;
}

.title5_section2 {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.wrapper_right_section2 :first-child {
    margin-left: 0;
}

.title5_section2_active {
    border-bottom: 1px solid;
    border-color: #E3B873;
    color: #E3B873;
    padding-bottom: 6px;
}

.photo_section2 {
    width: 100%;
}

.image_item {
    display: none;
}

.active_image_section2 {
    display: block;
    width: 100%;
    height: 482px;
    background-size: cover;
    background-position: center;
    margin-top: 45px;
    width: 100%;
}



@media screen and (max-width: 1220px) {
    .wrapper_right_section2 {
        max-width: 573px;
    }   
}

@media screen and (max-width: 1100px) {
    .container_section2 {
        flex-direction: column;
        align-items: center;
    }

    .content_left_section2 {
        width: 90%;
        margin-right: 0px;
    }

    .title2_section2 {
        text-align: center;
        margin: 0 auto;
    }

    .text2_1 {
        margin: 0 auto;
        text-align: center;
        max-width: 450px;
    }

    .grid-wrapper {
        max-width: 450px;
        grid-template-columns: 50% 50%;
        margin: 0 auto;
    }

    .vector_arrows {
        justify-content: center;
        width: 100%;
    }

    .content_right_section2 {
        width: 100%;
        margin-top: 50px;
    }

    .wrapper_right_section2 {
        max-width: 100%;
        justify-content: space-around;
    }
    
    .title5_section2_passive {
        display: none;
    }

    .active_image_section2 {
        margin: 0 auto;
        height: 0;
        padding-top: 35%;
        padding-bottom: 35%;  
    }
}

@media screen and (max-width: 665px) {
    .title5_section2_active {
        border-bottom: none;
        /* border-color: #E3B873;
        color: #E3B873;
        padding-bottom: 6px; */
    }
}

@media screen and (max-width: 550px) {
    .content_left_section2 {
        width: 100%;
        margin-right: 0px;
        margin-top: 36px;
    }
    
    .title2_section2 {
        width: 200px;
    }
    
    .text2_1 {
        font-size: 11px;
        width: 100%;
    }

    .photo_section2_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 0;
        padding: 35% 14px;
        /* background-image: url(../images/image2.2.jpg); */
        background-size: cover;
        background-position: center;
    }

    .grid-wrapper {
        grid-gap: 10px;
        grid-template-columns: 45% 55%;
    }

    .text2_2 {
        font-size: 11px;
    }

    .vector_arrows {
        display: none;
    }

    .content_right_section2 {
        margin-bottom: 0;
    }
    
    .title5_section2_active {
        display: none;
    }

    .photo_section2 {
        display: none;
    }

    .wrapper_right_section2 {
        display: none;
    }
}













.section3 {
    margin: -300px auto 0px;
}

.container_section3 {
    margin: 0 auto;
    max-width: 817px;
}

.imitation_video {
    background-image: url(../images/image3.1.jpg);
    background-size: cover;
    background-position: center;
}

.video_blackout {
    width: 817px;
    height: 434px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    display: block;
    margin: 62.5px auto 24.5px;
}

.text3 {
    font-size: 18px;
    margin: 10px auto;
    text-align: center;
    line-height: 2;
    max-width: 680px;
}

.form_section3 {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.form_section3_item {
    font-size: 13px;
    color: rgba(54, 54, 54, 0.5);
}

.input_section3 {
    border-bottom-color: rgba(54, 54, 54, 0.3);
    width: 231px;
}

/*цвет текста плейсхолдера в инпуте CHROME*/
.input_section3::-webkit-input-placeholder {
    color: #000;
}

/* IE 10+ */
.input_section3:-ms-input-placeholder { 
    color: #000;
}

/* Firefox 19+ */
.input_section3::-moz-placeholder { 
    color: #000;
}

/* Firefox 4 - 18 */
.input_section3:-moz-placeholder { 
    color: #000;
}

.button_large_section3 {
    padding: 20px 75px;
    font-size: 13px;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.form2_section3 {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.button_mobile_section3 {
    display: none;
    padding: 20px 75px;
    font-size: 13px;
    font-style: normal;
    border-radius: 0px;
    box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
}

@media screen and (max-width: 1050px) {
    .section3 {
        background-color: #000;
    }
    
    .container_section3 {
        max-width: 100%;
        padding-bottom: 50px;
    }

    .video_blackout {
        width: 100%;
        height: 0px;
        padding-top: 26.56%;
        padding-bottom: 26.56%;    
    }

    .text3 {
        color: #FFF;
    }

    .form_section3 {
        flex-direction: column;
        align-items: center;
    }

    .form_section3_item {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .input_section3 {
        border-bottom-color: rgba(255, 255, 255, 0.15);
        width: 350px;
        background-color: #000;
    }
    
    /*цвет текста плейсхолдера в инпуте CHROME*/
    .input_section3::-webkit-input-placeholder {
        color: #FFF;
    }
    
    /* IE 10+ */
    .input_section3:-ms-input-placeholder { 
        color: #FFF;
    }
    
    /* Firefox 19+ */
    .input_section3::-moz-placeholder { 
        color: #fff;
    }
    
    /* Firefox 4 - 18 */
    .input_section3:-moz-placeholder { 
        color: #fff;
    }

    .form2_section3 {
        margin-top: 0px;
        margin-bottom: 37px;
    }
    
    .label_section3 {
        color: #FFF;
    }

    .button_large_section3 {
        display: none;
    }
    
    .button_mobile_section3 {
        display: block;
        width: 350px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 550px) {
    .container_section3 {
        padding-bottom: 0;
    }
    
    .text3 {
        font-size: 11px;
    }

    .ellipse_polygon {
        width: 74px;
    }

    .form_section3 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .input_section3 {
        width: 100%;
    }

    .form2_section3 {
        display: block;
        margin-bottom: 33px;
    }
    
    .button_mobile_section3 {
        width: 100%;
        position: relative;
        top: 29px;
    }
}













.container_section4 {
    margin: 148px auto 0;
}

.wrapper_section4 {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

.wrapper4_item {
    flex: 1 1 33.33%;
    margin: 0 15px;
    background-size: 100% auto;
}

[class^="background_section4_item"] {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 421px;
    width: 100%;
}

.background_section4_item1 {
    background-image: url(../images/image4.1.jpg);
}

.background_section4_item2 {
    background-image: url(../images/image4.2.jpg);
}

.background_section4_item3 {
    background-image: url(../images/image4.3.jpg);
}

.text_section4 {
    max-width: 330px;
    margin: -127px auto 0;
    padding-top: 25px;
    background-color: #FFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.title4_section4 {
    color: #000;
    text-transform: none;
    margin: 0 34px;
}

.list_section4 {
    color: #959595;
    padding-left: 13px;
    margin: 13px 20px 13px 34px;
}

.list_item_section4 {
    line-height: 2;
    font-size: 13px;
}

.button_section4 {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: normal;
    padding: 17px 21px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border-radius: 0px;
    position: relative;
    top: 25px;
    z-index: 2;
}

@media screen and (max-width: 1050px) {
    .container_section4 {
        margin: 70px auto 0;
    }
    
    .wrapper_section4 {
        flex-direction: column;
    }

    .wrapper4_item {
        flex: 1 1 33.33%;
        margin: 0 15px;
        background-size: 100% auto;
    }

    [class^="wrapper4_item"] {
        flex: 0 1 100%;
        background-size: contain;
    }

    [class^="background_section4_item"] {
        height: 550px;
    }

    .text_section4 {  
        margin: -150px 0 50px;
    }
}

@media screen and (max-width: 550px) {
    .container_section4 {
        margin: 87px auto 0;
    }
    
    .title4_section4 {
        font-size: 15px; 
    }

    [class^="background_section4_item"] {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 365px;
        width: 100%;
    }

    .text_section4 {
        max-width: 270px;
        margin: -110px 0 50px;
    }

    .button_section4 {
        font-size: 15px;
    }
}












.container_section5 {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 124px auto 0;
}

.content_left_section5 {
    background: url(../images/image5.1.jpg) no-repeat;
    width: 703px;
    height: 645px;
    background-size: cover;
    padding: 115px 0px 0px 225px;
}

.list_section5 {
    list-style: none;
    padding-left: 0;
}

.item_list_section5 {
    line-height: 1.3;
    font-size: 14px;
	padding-left: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    width: 375px;
}

.item_list_section5::before {
    content: url(../images/Rectangle5.1.svg);
    width: 50px;
    position: relative;
    top: 6px;
}

.number5 {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #fff;
    position: relative;
    left: -17px;
    z-index: 2;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
}

.content_right_section5 {
    margin: 0 95px;
}

.content_right_top_section5 {
    min-width: 506px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 106px;
    padding-top: 28px;
}

.subtitle_section5 {
    font-size: 18px;
    color: #FFF;
    margin: 0px;
}

.form_section5_top {
    width: 408px;
}

.input_section5 {
    width: 408px;
}

.form_section5_bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 39px;
}

.button_section5 {
    padding: 19px 40px;
    font-size: 13px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 0px;
    font-style: normal;
    margin-bottom: 27px;
}

.content_right_bottom_section5 {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.vector_ellipse5 {
    position: absolute;
}

.vector_pig {
    position: relative;
    top: -9px;
    left: 31px;
}

.text5_right_bottom {
    color: #E3B873;
    font-size: 18px;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    position: relative;
    left: 50px;
    top: -6px;
}

@media screen and (max-width: 1220px) {
    .container_section5 {
        margin: 50px auto 0;
    }
    
    .content_left_section5 {
        padding: 115px 0px 0px 90px;
    }

    .content_right_top_section5 {
        min-width: 450px;
    }

    .form_section5_top {
        width: 350px;
    }
    
    .input_section5 {
        width: 350px;
    }
}

@media screen and (max-width: 1050px) {
    .container_section5 {
        flex-direction: column;     
    }

    .content_left_section5 {
        width: 100%;
        padding: 115px 0px 0px 225px;
        background-position: center;
        margin-bottom: 60px;
    }

    .content_right_section5 {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .content_left_section5 {
        display: none;
    }
}











.section6 {
    margin-top: 122px;
    position: relative;
}

.section6_background {
    height: 864px;
    background-image: url(../images/image6.0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 110px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.section6_blackuot {
    height: 864px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9));
}

.container_section6 {
    display: flex;
    justify-content: space-between;
}

.content_left_section6 {
    padding-top: 247px;
}

.title2_section6 {
    max-width: 350px;
}

.text6 {
    font-size: 20px;
    color: #fff;
}

.text6:nth-of-type(1) {
    display: inline-block;
    color: #E3B873;
    border-bottom: 1px solid;
    border-color: #E3B873;
    padding-bottom: 3px;
    margin-bottom: -3px;
    margin-top: 47px;
}

.content_right_section6 {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
}

.photos_section6:nth-of-type(1) {
    margin: 73px 43px 0px;
}

[class^="image6"] {
    width: 354px;
    background-size: cover;
    background-position: center;
}

.image61 {
    height: 558px;
    background-image: url(../images/image6.1.jpg);
    margin-bottom: 39px;    
}

.image62 {
    height: 350px;
    background-image: url(../images/image6.2.jpg);    
}

.image63 {
    height: 275px;
    background-image: url(../images/image6.3.jpg); 
    margin-bottom: 39px;   
}

.image64 {
    height: 625px;
    background-image: url(../images/image6.4.jpg);    
}

.wrapper_photo_section6_mobile {
    display: none;
}

@media screen and (max-width: 1220px) {
    [class^="image6"] {
        width: 274px;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 1050px) {
    .section6 {
        margin-top: 0;
    }
    
    .section6_background {
        display: none;
    }

    .content_left_section6 {
        padding-top: 0px;
        width: 100%;
    }

    .title2_section6 {
        text-align: center;
        margin: 0 auto;
    }

    .text6 {
        display: none;
    }

    .text6:nth-of-type(1) {
        display: none;
    }

    .content_right_section6 {
        display: none;
    }

    .wrapper_photo_section6_mobile {
        display: block;
        position: relative;
        margin-top: 25px;
    }
    
    .background_foto_section6_mobile {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1; 
        display: flex;
        align-items: flex-end;   
    }

    .background_bottom_foto_section6_mobile {
        width: 100%;
        height: 50%;
        background-color: #000;
    }

    .photo_section6_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 0;
        background-image: url(../images/image6.0.jpg);
        background-size: cover;
        background-position: center;
        padding: 35% 14px;
    }
}

@media screen and (max-width: 550px) {
    .section6 {
        margin-top: -20px;
    }
}












.section7 {
    margin-top: 70px;
}

.subtitle7 {
    text-align: center;
    line-height: 1.8;
    width: 350px;
    margin: 0 auto;
}

.wrapper_section7 {
    display: flex;
    justify-content: space-between;
}

.wrapper_item_section7 {
    max-width: 376px;
    margin: 0 25px;
}
 
.item_section7 {
    background-color: #FFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding: 20px 30px 77px 20px;
}

.photo_title7 {
    display: flex;
    align-items: center;
}

.photo_title7 img {
    display: block;
    border-radius: 50%;
    width: 76px;
    margin-right: 23px;
}

.title4_section7 {
    margin: 0;
    color: #000;
    text-transform: none;
}

.text_section7 {
    color: #959595;
    font-size: 13px;
    line-height: 1.8;
}

.button_section7 {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 17px;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0 17px;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    border-radius: 0px;
    position: relative;
    top: -39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 293px;
}

@media screen and (max-width: 1220px) {
    .button_section7 {
        width: 250px;
        font-size: 15px;
    }

    .button_section7 img {
        width: 25px;
    }

    .photo_title7 img {
        margin-right: 15px;
    }

    .title4_section7 {
        font-size: 15px;
    }
}

@media screen and (max-width: 1050px) {
    .section7 {
        display: none;
    }
}











.section8 {
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section8_background_top {
    margin: 0 auto;
    height: 350px;
    background-image: url(../images/city.jpg);
    opacity: 0.05;
}

.section8_background_bottom {
    height: 954px;
    background-image: url(../images/image9.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section8_background_bottom_blackuot {
    height: 954px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.72));
    z-index: -1;
    padding-top: 275px;
    padding-bottom: 50px;
}

.container_section8 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title3_section8 {
    line-height: 2;
    width: 590px;
    order: 1;
    text-align: center;
}

.contacts8 {
    display: flex;
    justify-content: center;
    order: 2;
}

.item_contacts8 {
    width: 28px;
    height: 28px;
    margin: 26px 7.5px 0px;
    background-color: #E3B873;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_contacts8:hover {
    background-color: hsl(37, 46%, 58%);
}

.map8 {
    width: 925px;
    height: 465px;
    margin: 40px 0px;
    background-image: url(../images/image9.2.jpg);
    background-size: cover;
    background-position: center;
    order: 3;
}

@media screen and (max-width: 1050px) {
    .section8 {
        margin-top: -1px;
    }
    
    .section8_background_top {
        display: none;
    }
    
    .section8_background_bottom {
        height: auto;
        background-image: none;
    }
    
    .section8_background_bottom_blackuot {
        height: auto;
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
        padding-top: 550px;   
    }

    .title3_section8 {
        width: 340px;
        order: 2;
    }
    
    .contacts8 {
        order: 3;
    }

    .map8 {
        width: 100%;
        height: 0;
        padding-bottom: 75%;
        order: 1;
    }
}

@media screen and (max-width: 550px) {
    .title3_section8 {
        width: 100%;
        font-size: 18px;
    }
}












.section9 {
    width: 883px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 180px;
    margin: 0 auto;
    position: absolute;
    top: 135px;
    left: 0px;
    right: 0px;
    z-index: 2;    
}

.form_section9_top {
    display: flex;
}

.input_top_section9 {
    width: 230px;
}

.form_section9_top .form_black_item:nth-child(1)  {
    margin-right: 58px;
}

.form_section9_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.input_bottom_section9 {
    width: 516px;
    margin-bottom: 48px;
}

.button_section9 {
    padding: 19px 54px;
    font-size: 13px;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    border-radius: 0px;
    font-style: normal;
    margin-top: 50px;
}

@media screen and (max-width: 1050px) {
    .section9 {
        width: 100%;
        top: 25px;
        padding: 34px 18px;    
    }

    .form_section9_top {
        display: block;
    }
    
    .form_section9_top .form_black_item:nth-child(1)  {
        margin-right: 0px;
    }

    .input_top_section9 {
        width: 400px;
    }
    
    .input_bottom_section9 {
        width: 400px;
        margin-bottom: 48px;
    }

    .label_black {
        align-self: flex-start;
    }
    
    .button_section9 {
        padding: 19px 54px;
        min-width: 300px;
    }
}

@media screen and (max-width: 550px) {
    .form_section9 {
        width: 100%;
    }
    
    .form_section9_top {
        width: 100%;
    }
    
    .input_top_section9 {
        width: 100%;
    }

    .form_section9_bottom {
        display: block;
    }
    
    .input_bottom_section9 {
        width: 100%;
    }
    
    .button_section9 {
        min-width: 100%;
    }
}












.footer {
    background-color: black;
    margin: 0 auto;
}

@media screen and (max-width: 1050px) {
    .footer {
        display: none;
    }
}

